---
category: index
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Brenton Kenkel is a political scientist studying international relations, formal modeling, and statistical methods.">
    <meta name="author" content="Brenton Kenkel">

    <title>Brenton Kenkel - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <style type="text/css">
      address { margin-left: 2.5em; }
      a.navbar-brand { color: #000000 !important; }
    </style>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
       </head>

  <body>

{% include navbar.html %}

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-1">
          <p>Hello! I am currently a fellow in
            the <a href="http://q-aps.princeton.edu/">Program for Quantitative
            and Analytical Political Science</a> in
            the <a href="http://www.princeton.edu/politics">Department of
            Politics</a> at Princeton University.  I am also a Ph.D. candidate
            in the <a href="http://www.rochester.edu/college/psc/">Department
            of Political Science</a> at the University of Rochester (expected
            to defend in 2014).  In the fall of 2014, I will be joining the
            <a href="http://www.vanderbilt.edu/political-science/">Department
            of Political Science at Vanderbilt University</a> as an Assistant
            Professor.</p>

          <p>My research spans the areas of international relations, formal
            modeling, and statistical methodology.  Copies of my publications
            and working papers are available on
            my <a href="research.html">research page</a>, and my CV is
            available <a href="data/kenkel_cv.pdf">in PDF format</a>.</p>

          <p>I can be reached via email
            at <code>bkenkel&lt;at&gt;princeton.edu</code> or by mail at:
          </p>
          <p>
            <address>
              Corwin Hall 028<br>
              Department of Politics<br>
              Princeton University<br>
              Princeton, NJ 08544
            </address>
          </p>
        </div>

        <div class="col-sm-4">
          <img src="img/at_beach.jpg" class="img-responsive" alt="Photo of Brenton Kenkel." title="Photo of me by Brooke Hamilton, my exceptional wife.">
        </div>
      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    {% include analytics.html %}

  </body>
</html>
