---
category: software
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The software page of political scientist Brenton Kenkel.">
    <meta name="author" content="Brenton Kenkel">

    <title>Brenton Kenkel - Software</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <style type="text/css">
      address { margin-left: 2.5em; }
      a.navbar-brand { color: #000000 !important; }
    </style>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
       </head>

  <body>

{% include navbar.html %}

    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <h3>R packages</h3>
          
          <p>
            I am the maintainer of the following R packages:
          </p>
          <ul>
            <li><a href="http://cran.r-project.org/web/packages/games/index.html"><code>games</code></a>
              (coauthored with Curt Signorino), which contains functions to
              estimate and analyze models of interdependent strategic
              behavior.  The functionality of the package is described and
              illustrated in detail in our <i>Journal of Statistical
              Software</i>
              article <a href="http://www.jstatsoft.org/v56/i08">"Estimation
              of Extensive Form Games in R"</a>.

            </li>
            <li><a href="http://cran.r-project.org/web/packages/polywog/index.html"><code>polywog</code></a>
              (coauthored with Curt Signorino), which allows users to estimate
              relationships of unknown functional form using bootstrapped
              basis regression.  The package also provides routines to plot
              fitted values and marginal effects from fitted models.  The
              software and the underlying statistical techniques are described
              in our working paper <a href="data/basics.pdf">"Bootstrapped
              Basis Regression with Variable Selection: A New Method for
              Flexible Functional Form Estimation"</a>.

            </li>
            <li><a href="http://cran.r-project.org/web/packages/pbivnorm/index.html"><code>pbivnorm</code></a>,
              which provides a vectorized function to compute the bivariate
              normal CDF.  <code>pbivnorm</code> is based on code from
              the <a href="http://cran.r-project.org/web/packages/mnormt/index.html"><code>mnormt</code></a>
              package.
            </li>
          </ul>
        </div>

      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    {% include analytics.html %}

  </body>
</html>
