<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Brenton Kenkel</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for cat in site.all_cats %}
        <li
           {% if page.category == cat %}class="active"{% endif %}
        ><a href="{{cat}}.html">{{site.cat_titles[forloop.index0]}}</a></li>
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
